extends layout

block content
 h1  BaseStationFive Blog
 img(src="images/cropped-footprint-moon.jpg", alt="", height="100%", width="100%")

 section.css-table
    p Find tips, tricks and engineering philosophy at the BaseStationFive Blog.
     a(href="https://basestationfive.wordpress.com") Here
  section.css-table

