extends layout

block content
  h1  BaseStationFive Blog
  img(src="images/cropped-footprint-moon.jpg", alt="", height="100%", width="100%")
section.css-table
  section.two-column
    section.cell
      h2 About
      p My name is Jeremy. I am a technology professional in the industry of software engineering.
    section.cell
      h2 Blog
      p Find tips, tricks and engineering philosophy at the BaseStationFive Blog.
section.css-table
